.interactive-image {
  width: 100px;
  height: 100px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#playing-field {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}

#playing-field div {
  border: 1px solid black;

}
